<h2 id="sectionHeader">Noticias</h2>

<% if @posts == nil or @posts.empty? %>
  <p class="empty">
    No existen noticias aún.
  </p>
  
<% else %>
  <% @posts.each do |post| %>
    <article>
      <h3><%= post.title %></h3>
      <small><%= post.created_at.strftime("%d-%m-%Y a las %H:%M") %></small>
      <p>
        <%= raw(post.content) %>
      </p>
      <% if user_signed_in? %>
        <%= link_to 'Editar Noticia', edit_post_path(post) %> | <%= link_to 'Eliminar Noticia', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </article>
  <% end %>
<% end %>